#header{
    height:100px;
    border:1px black solid;
}
#body{
    height:1100px;
    border:1px black solid;
}
#loginTab{
    margin-top:20%;
    border:1px black solid;
}
#footer{
    height:240px;
    border:1px black solid;
}