#header{
    height:100px;
    border:1px black solid;
}
#logo{
    height:50px;
    border:1px black solid;
}
#index{
    height:50px;
    border:1px black solid;
}
#body{
    height:1100px;
    border:1px black solid;
}
#news{
    height:500px;
    border:1px black solid;
}
.list{
    height:200px;
    border:1px black solid;
}
#footer{
    height:240px;
    border:1px black solid;
}