
#body{
    background:rgba(220,220,220,1)
}
#body{
    height:1300px;
    border:1px black solid;
}
#news{
    height:500px;
    border:1px black solid;
}
/*板块之间的间隔*/
.blank{
    height:35px;
}
.list{
    height:300px;
    border:1px black solid;
}
#list1{
    background: url("../img/demo1.jpg");
    background-size: cover;
}
#list2{
    background: url("../img/demo2.jpg");
    background-size: cover;
}
#list3{
    background: url("../img/demo3.jpg");
    background-size: cover;
}
#list4{
    background: url("../img/demo4.jpg");
    background-size: cover;
}

#left{
    margin-top:15%;
    position:absolute;
    left:0
}
#right{
    margin-top:15%;
    position:absolute;
    right:0
}
#left:hover{
    cursor:pointer;
}
#right:hover{
    cursor:pointer;
}
.item{
    opacity: 0.5;
}




