#body{
    height:2000px;
}
#newsPic1{
    margin-top:5%;
    height:350px;
    width:500px;
    background:url("../img/news1.1.jpeg") no-repeat;
    background-size: contain;
}
#newsPic2{
    margin-top:10%;
    height:350px;
    width:500px;
    background:url("../img/news1.2.jpeg") no-repeat;
    background-size: contain;
}
#newsPic3{
    margin-top:10%;
    height:350px;
    width:500px;
    background:url("../img/news1.3.jpeg") no-repeat;
    background-size: contain;
}
#content1{
    height:350px;
    margin-top:5%;
    font-size:21px;
}
#content2,#content3{
    height:350px;
    margin-top:10%;
    font-size:21px;
}
#blank{
    height:40px;
}
#clickLike{
    margin-top:15%;
}
#like{
    border:0;
    background: transparent;
    heigth:40px;
    width:40px;
}
#save{
    border:0;
    background: transparent;
}
#comment{
    height: 500px;
}
img{
    height:40px;
    width:40px;
}
p{
    color: green;
}
